body, html{
  margin:0;
  font-family: 'Source Sans Pro', sans-serif;

}
a{
  text-decoration: none;
  color:white;
}

#section1{
  height:100vh;
  min-height: 800px;
  box-sizing: border-box;
}

header{
  width:100%;
  height:60vh;
  min-height:430px;
  background-image:url("img/lillighter.jpg");
  background-position: center -120px;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 82%, 50% 100%, 0 89%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 82%, 50% 100%, 0 89%);
  margin-bottom:-40px;
}

nav{
  color:white;
  height:80px;
}

nav ul{
  list-style:none;
  display: inline-block;
  font-size:25px;
  margin-right:50px;
}

nav li{
  float:right;
  margin: 0 20px;
  font-size: 24px;
  position:relative;
}

nav li::before{
  content:'';
  height:4px;
  width:0;
  background: white;
  position:absolute;
  bottom:-5px;
  -webkit-transition: width 250ms ease-in-out;
  -o-transition: width 250ms ease-in-out;
  transition: width 250ms ease-in-out;
}

nav li:hover::before{
  width:100%;
}

#nav-icon{
  height:70px;
  margin: 5px 0 0 35px;
}

#nav__hamburger{
  height:100%;
  cursor:pointer;
  float:right;
  -webkit-transition: transform 250ms ease-out;
  -o-transition: transform 250ms ease-out;
  transition: transform 250ms ease-out;
  position:relative;
  display: none;
}
#nav__hamburger--x{
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 250ms ease-in-out;
  -o-transition: opacity 250ms ease-in-out;
  transition: opacity 250ms ease-in-out;
}

#nav__hamburger--bars{
  position: absolute;
  -webkit-transition: opacity 250ms ease-in-out;
  -o-transition: opacity 250ms ease-in-out;
  transition: opacity 250ms ease-in-out;
}

.visible{
  opacity:1!important;
}
.invisible{
  opacity:0!important;
}

.grow{
  -webkit-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
}

/* media query for navbar */

@media only screen and (max-width: 1000px){
  #nav__hamburger{
    display: block;
  }
  nav li{
    float: none;
    text-align: center;
    background: #1a1a1a;
    width:100%;
    padding:20px 20px;
    box-sizing: border-box;
    margin:0;
  }
  nav li:nth-child(2){
    border-top:2px solid #333;
    border-bottom:2px solid #333;
  }
  nav li:hover::before{
    width:0;
  }
  nav ul{
    position: absolute;
    width:100vw;
    margin:0;
    top:80px;
    right:0;
    left:0;
    padding:0;

    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transition: transform 250ms ease-in-out;
    -o-transition: transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out;

    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    -ms-transform-origin: top;
    -o-transform-origin: top;
    transform-origin: top;
  }
} /* end of navbar media query */

#masplataformas-text{
  width:85%;
  max-width:700px;
  display: block;
  margin:50px auto 0 auto;
}

.subhead{
  display: flex;
  justify-content: center;
  color:white;
  padding:0;
}

.subhead h4{
  margin: 0 20px;
  font-size:35px;
  font-weight: normal;
}

.subhead h4::before{
  content:url("img/icons/red-plus.svg");
  height:20px;
  width:20px;
  display: inline-block;
  margin-right:3px;
}

.ver-renta{
  width:300px;
  height:50px;
  border-radius: 30px;
  font-size: 35px;
  color:white;
  background-color:#B61C16;
  border:none;
  display: block;
  margin:2% auto 0 auto;

  -webkit-transition: 250ms background ease-in-out;
  -o-transition: 250ms background ease-in-out;
  transition: 250ms background ease-in-out;
}

/*Media query for subhead and button*/

@media only screen and (max-width:490px){
  .subhead h4{
    font-size:27px;
    font-size: calc(100vw/15);
    margin: 0 10px;
  } 
  .subhead h4::before{
  height:16px;
  width:16px;
  }
  
  .ver-renta{
    width:60vw;
    font-size: 20px;
  }
}

.ver-renta:hover{
  background-color: #6B0300;
}

.cards{
  display: flex;
  justify-content: space-around;
  position: relative;
  top:10vh;
  height: 40vh;
  min-height: 278px;
  padding:1%;
  box-sizing: border-box;
}
.card{
  text-align: center;
  width:400px;
  height: 80%;
  min-height: 270px;
  opacity: 0;
}

.title{ /*GENERAL*/
  margin:0;
  padding:0;
  font-size: 26px;
  font-weight:bold;
}

.sub-title{ /*GENERAL*/
  font-size:30px;
}

.card .sub-title{
  margin:3% 0 0 0;
}


.content-lg{ /*GENERAL*/
  font-size:22px;
  margin: 0;
}

.content-md{ /*GENERAL*/
  font-size: 20px;
  font-weight:400;
  color:#272727;
  margin:12px 0 0 0;
}

.card .content-md{
  margin:0
}

.card-icon{
  height:40%;
  /* max-height:120px; */

  margin:0;
}

/*  media queries for section1 */
@media only screen and (max-width: 920px){

}

.card:nth-child(1){
  -webkit-animation: fadeInUp 800ms ease-out;
  animation: fadeInUp 800ms ease-out;
  animation-fill-mode: forwards;
  animation-delay: 500ms;
}
.card:nth-child(2){
  -webkit-animation: fadeInUp 800ms ease-out;
  animation: fadeInUp 800ms ease-out;
  -webkit-animation-delay: 400ms;
   animation-delay: 800ms;
   animation-fill-mode: forwards;
}
.card:nth-child(3){
  -webkit-animation: fadeInUp 800ms ease-out;
  animation: fadeInUp 800ms ease-out;
  -webkit-animation-delay: 800ms;
   animation-delay: 1200ms;
   animation-fill-mode: forwards;
}

#section2{
  height:100vh;
  width: 100%;
  min-height:680px;
  position:relative;
}

hr{
  width:55%;
  border: 1px solid #B61C16;
}

.section2-titles{
  text-align: center;
  height: 20%;
  box-sizing: border-box;
  padding:2vh 20px 0 20px;
  margin:0 0 5em 0;
}

.section2-titles h1{
  margin: 20px 0 6px 0;
  font-size: 70px;
}

.flex-container{
  height:80%;
  min-height: 670px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

#illustrations{
  display: flex;
  flex-direction: row;
  justify-content:center;
  height:auto;
  flex-shrink:2;
}
#illustrations svg{
  margin-bottom:20px;
}

.ilus-card{
  max-width:260px;
  border:2px solid #f1ecec;
  border-radius:7px;
  text-align: center;
  padding:20px 12px 0px 12px;
  margin: 0 20px;
  box-sizing: border-box;
  min-height: 300px;
}

.ilus-card img, .ilus-card svg{
  height:20%;
  min-height:150px;
}

.flex-container .text-lg{
  margin:2em 0;
}
@media only screen and (max-width: 1090px){

  .section2{
    height:auto;
  }

  .flex-container{
    height:auto;
  }
  #illustrations{
    justify-content: center;
    flex-wrap:wrap;
    height:auto;
    margin-top:50px;
  }

  .ilus-card{
    margin: 0 auto 30px auto;
    height:350px;
  }
  .section2-titles{
    margin:0;
    height:auto;
  }
  .section2-titles h1{
    font-size: 3em;
  }

  .section2-titles .text-lg{
    font-size: 1.5em;
  }

  hr{
    width:80%;
  }


}

@media only screen and (max-width: 700px){
  .ilus-card{
  max-width: none;
  width:85vw;
    height:200px;
    display: flex;

  }

  .ilus-card svg{
    flex-basis: 120%;
  }

  /* .even{
    float:left!important;
  }

  .ilus-card-text{
    width:50%;
    float:right;
  } */


}


.red{
  color:#B61C16;

}
.text-lg{ /*GENERAL*/
  text-align:center;
  font-size: 28px;
  margin:0;
  font-weight: normal;
  color:#272727;
}

footer{
  background: #0C0C0C;
  color: #878787;
  display: flex;
  justify-content: space-between;
  height:auto;
  box-sizing: border-box;
  padding:10px 20px 10px 20px;
}
footer h2, p{
  margin:0;
}
.footer-all-rights{
  align-self: flex-end;
}
.footer-contact{
  text-align: center;
  align-self: flex-end;
}

footer svg{
  height:100px;
}

footer svg:hover path{
  fill:#939393;
}

@media only screen and (max-width: 750px){
  footer{
    flex-direction: column;
  }
  footer svg{
    order: 1;
  }
  .footer-all-rights{
    align-self: center;
    order: 3;
  }
  .footer-contact{
    align-self: center;
    order: 2;
    border-top:1px solid #878787;
    border-bottom:1px solid #878787;
    padding:0 0 20px 0;
    margin:20px 0;
  }
}



/* animations */
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
