body, html{
  margin:0;
  font-family: 'Source Sans Pro', sans-serif;

}
a{
  text-decoration: none;
  color:white;
}
header{
  width:100%;
  height:60vh;
  min-height:500px;
  background-image:url("img/lillighter.jpg");
  background-position: center -120px;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 82%, 50% 100%, 0 89%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 82%, 50% 100%, 0 89%);
}

nav{
  color:white;
  height:80px;
}

nav ul{
  list-style:none;
  display: inline-block;
  float:right;
  font-size:25px;
  margin-right:50px;
}

nav li{
  float:right;
  margin: 0 20px;
  font-size: 24px;
  position:relative;
}

nav li::before{
  content:'';
  height:4px;
  width:0;
  background: white;
  position:absolute;
  bottom:-5px;
  -webkit-transition: width 250ms ease-in-out;
  -o-transition: width 250ms ease-in-out;
  transition: width 250ms ease-in-out;
}

nav li:hover::before{
  width:100%;
}

#nav-icon{
  height:70px;
  margin: 5px 0 0 35px;
}

#masplataformas-text{
  width:40%;
  min-width:600px;
  display: block;
  margin:50px auto 0 auto;
}

.subhead{
  display: flex;
  justify-content: center;
  color:white;
}

.subhead h4{
  margin: 0 20px;
  font-size:35px;
  font-weight: normal;
}

.subhead h4::before{
  content:url("img/icons/red-plus.svg");
  height:20px;
  width:20px;
  display: inline-block;
  margin-right:3px;
}

.ver-renta{
  width:300px;
  height:50px;
  border-radius: 30px;
  font-size: 35px;
  color:white;
  background-color:#B61C16;
  border:none;
  display: block;
  margin:40px auto;

  -webkit-transition: 250ms background ease-in-out;
  -o-transition: 250ms background ease-in-out;
  transition: 250ms background ease-in-out;
}

.ver-renta:hover{
  background-color: #6B0300;
}

.cards{
  display: flex;
  justify-content: space-around;
  position: relative;
  top:40px;

}
.card{
  text-align: center;
  width:400px;
  opacity: 0;
}
.card:nth-child(1){
  -webkit-animation: fadeInUp 800ms ease-out;
  animation: fadeInUp 800ms ease-out;
  animation-fill-mode: forwards;
  animation-delay: 500ms;
}
.card:nth-child(2){
  -webkit-animation: fadeInUp 800ms ease-out;
  animation: fadeInUp 800ms ease-out;
  -webkit-animation-delay: 400ms;
   animation-delay: 800ms;
   animation-fill-mode: forwards;
}
.card:nth-child(3){
  -webkit-animation: fadeInUp 800ms ease-out;
  animation: fadeInUp 800ms ease-out;
  -webkit-animation-delay: 800ms;
   animation-delay: 1200ms;
   animation-fill-mode: forwards;
}

.title{ /*GENERAL*/
  margin:0;
  padding:0;
  font-size: 35px;
  font-weight:bold;
}

.sub-title{ /*GENERAL*/
  font-size:25px;
  font-weight:400;
  margin:5px 0;
  color:#272727;
}
.card-icon{
  height:120px;
  margin:0;
}

#gradient-bg{
  height:100vh;
  width:100vw;
  position: absolute;
  top:0;
  right:0;
  left:0;
  bottom:0;
  z-index: -1;
  background: -webkit-linear-gradient(bottom, #c1c1c1, #fff 40%);
  background: -o-linear-gradient(bottom, #c1c1c1, #fff 40%);
  background: linear-gradient(to top, #c1c1c1, #fff 40%);
  min-height: 830px;
}

#section1{
  height:100vh;
  min-height: 830px;
}
.section2{
  height:100vh;
  width: 100%;
  min-height:800px;
}

.section2 hr{
  width:55%;
  border: 1px solid #B61C16;
}

.section2-titles{
  text-align: center;
  margin: 0 0 100px 0;
  display: block;
}

.section2-titles h1{
  margin: 20px 0 6px 0;
  font-size: 40px;
}

#illustrations{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
}
.ilus-card{
  width:20%;
  max-width:260px;
  background-color: #EAEAEA;
  border:3px solid #C9C9C9;
  border-radius:18px;
  text-align: center;
  padding:20px 12px 12px 12px;
}

.ilus-card img{
  height:150px;
}

/* GENERAL */
.content{
  font-size:18px;
  color: #272727;

}

.text-lg{
  text-align:center;
  font-size: 28px;
  margin:0;
}




@media only screen and (min-width: 1400px){
  #illustrations{
    justify-content: center;
  }

  .ilus-card{
    margin: 0 20px;
  }
}
/* animations */
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
